.activeChat-conteiner{
    height: 75px;
    display: flex;
    align-items: center;
    background-color: rgb(230, 230, 230);
}
.activeChat-title{
    font-weight: 400;
    color: #000;
}
.chat-conteiner{
    height: calc(100% - 150px);
    overflow-y: scroll;
    background-color: rgb(127, 92, 92);
}
