.wrapper{
    display: flex;
    height: 100hv;
}
.activeChat{
    display: inline-block;
    height: 100vh;
    width: 100%;
}
.title{
    margin: 20px 0;
    padding-left: 20px;
    color: rgb(91, 192, 255);
    font-weight: 400;
}
